{% extends 'base.html' %}
{% load static %}
{% block title %}
ОСОО КТЗ
{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({% static 'images/banner/bnr1.jpg' %});">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Новостной блог</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="index.html">Домой</a></li>
							<li>Новостной блог</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-xl-9 col-lg-8 col-md-7">
						{% for i in news %}
                        <div class="blog-post blog-lg blog-rounded">
							<div class="dlab-post-media dlab-img-effect zoom-slow"> 
								<a href="{% url 'news_detail' i.pk %}"><img src="{{ i.main_image.url }}" alt=""></a>
							</div>
							<div class="dlab-info p-a20 border-1">
								<div class="dlab-post-meta">
									<ul>
										<li class="post-date"> {{ i.created_at }} </li>
										<li class="post-author"> {{ i.author }}</li>
									</ul>
								</div>
								<div class="dlab-post-title">
									<h4 class="post-title"><a href="">{{ i.title }}</a></h4>
								</div>
								<div class="dlab-post-text">
									<p>{{ i.short_description }}</p>
								</div>
								<div class="dlab-post-readmore"> 
									<a href="{% url 'news_detail' i.pk %}" title="READ MORE" rel="bookmark" class="site-button">Подробнее
										<i class="ti-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
                        <!-- Pagination start -->
                        <div class="pagination-bx m-b30 clearfix text-center">
							<ul class="p`agination">
								{% if page_obj.has_previous %}
									<li class="previous">
										<a href="?page={{ page_obj.previous_page_number }}"><i class="ti-arrow-left"></i> Prev</a>
									</li>
								{% else %}
									<li class="previous disabled">
										<a href="javascript:void(0);"><i class="ti-arrow-left"></i> Prev</a>
									</li>
								{% endif %}

								{% for num in page_obj.paginator.page_range %}
									{% if page_obj.number == num %}
										<li class="active"><a href="javascript:void(0);">{{ num }}</a></li>
									{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
										<li><a href="?page={{ num }}">{{ num }}</a></li>
									{% endif %}
								{% endfor %}

								{% if page_obj.has_next %}
									<li class="next">
										<a href="?page={{ page_obj.next_page_number }}">Next <i class="ti-arrow-right"></i></a>
									</li>
								{% else %}
									<li class="next disabled">
										<a href="javascript:void(0);">Next <i class="ti-arrow-right"></i></a>
									</li>
								{% endif %}
							</ul>
						</div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <aside  class="side-bar sticky-top">
                            <div class="widget">
                                <h5 class="widget-title style-1">Search</h5>
                                <div class="search-bx style-1">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" class="form-control" placeholder="Enter your keywords..." type="text">
                                            <span class="input-group-btn">
												<button type="submit" class="fas fa-search text-primary"></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
                            <div class="widget recent-posts-entry">
                                <h5 class="widget-title style-1">Последние новости</h5>
                                <div class="widget-post-bx">
									{% for i in new_news %}
                                    <div class="widget-post clearfix">
                                        <div class="dlab-post-media"> 
											<img src="{{ i.main_image.url }}" width="200" height="143" alt="">
										</div>
                                        <div class="dlab-post-info">
                                            <div class="dlab-post-meta">
												<ul>
													<li class="post-date"> {{ i.created_at }}</li>
													<li class="post-author"> {{ i.author }}</li>
												</ul>
											</div>
											<div class="dlab-post-header">
                                                <h6 class="post-title"><a href="blog-single-left-sidebar.html">{{ i.short_description }}</a></h6>
                                            </div>
                                        </div>
                                    </div>
									{% endfor %}
                                </div>
                            </div>
							<div class="widget widget-newslatter">
                                <h5 class="widget-title style-1">Newsletter</h5>
                                <div class="news-box">
									<p>Enter your e-mail and subscribe to our newsletter.</p>
                                    <form class="dzSubscribe" action="script/mailchamp.php" method="post">
										<div class="dzSubscribeMsg"></div>
                                        <div class="input-group">
                                            <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email"/>
											<button name="submit" value="Submit" type="submit" class="site-button btn-block radius-no">Subscribe Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
							<div class="widget widget_gallery gallery-grid-4">
                                <h5 class="widget-title style-1">Our Gallery</h5>
                                <ul id="lightgallery" class="lightgallery">
                                    <li>
                                        <div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic1.jpg" data-src="images/gallery/pic1.jpg" class="check-km" title="Image 1 Title will come here">		
												<img src="images/gallery/pic1.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                    <li>
                                        <div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic2.jpg" data-src="images/gallery/pic2.jpg" class="check-km" title="Image 2 Title will come here">		
												<img src="images/gallery/pic2.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                    <li>
                                        <div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic3.jpg" data-src="images/gallery/pic3.jpg" class="check-km" title="Image 3 Title will come here">		
												<img src="images/gallery/pic3.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                    <li>
                                        <div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic4.jpg" data-src="images/gallery/pic4.jpg" class="check-km" title="Image 4 Title will come here">		
												<img src="images/gallery/pic4.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                    <li>
                                        <div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic5.jpg" data-src="images/gallery/pic5.jpg" class="check-km" title="Image 5 Title will come here">		
												<img src="images/gallery/pic5.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                    <li>
										<div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic6.jpg" data-src="images/gallery/pic6.jpg" class="check-km" title="Image 6 Title will come here">		
												<img src="images/gallery/pic6.jpg" alt=""> 
											</span>
										</div>
                                    </li>
									 <li>
										<div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic7.jpg" data-src="images/gallery/pic7.jpg" class="check-km" title="Image 7 Title will come here">		
												<img src="images/gallery/pic7.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                    <li>
										<div class="dlab-post-thum dlab-img-effect">
											<span data-exthumbimage="images/gallery/pic8.jpg" data-src="images/gallery/pic8.jpg" class="check-km" title="Image 8 Title will come here">		
												<img src="images/gallery/pic8.jpg" alt=""> 
											</span>
										</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget_archive">
                                <h5 class="widget-title style-1">Categories List</h5>
                                <ul>
                                    <li><a href="javascript:void(0);">Electronic Materials</a></li>
                                    <li><a href="javascript:void(0);">Auto Parts</a></li>
                                    <li><a href="javascript:void(0);">Building Management</a></li>
                                    <li><a href="javascript:void(0);">Power Systems</a></li>
                                    <li><a href="javascript:void(0);">Power & Energy</a></li>
                                </ul>
                            </div>
							<div class="widget widget-project">
                                <h5 class="widget-title style-1">Our Project</h5>
                                <div class="widget-project-box owl-none owl-loaded owl-theme owl-carousel dots-style-1 owl-dots-black-full">
									<div class="item"><img src="images/our-services/pic1.jpg" alt=""/></div>
									<div class="item"><img src="images/our-services/pic2.jpg" alt=""/></div>
									<div class="item"><img src="images/our-services/pic3.jpg" alt=""/></div>
								</div>
                            </div>
                            <div class="widget widget_tag_cloud radius">
                                <h5 class="widget-title style-1">Tags</h5>
                                <div class="tagcloud"> 
									<a href="javascript:void(0);">Design</a> 
									<a href="javascript:void(0);">User interface</a> 
									<a href="javascript:void(0);">SEO</a> 
									<a href="javascript:void(0);">WordPress</a> 
									<a href="javascript:void(0);">Development</a> 
									<a href="javascript:void(0);">Joomla</a> 
									<a href="javascript:void(0);">Design</a> 
									<a href="javascript:void(0);">User interface</a> 
									<a href="javascript:void(0);">SEO</a> 
									<a href="javascript:void(0);">WordPress</a> 
									<a href="javascript:void(0);">Development</a> 
									<a href="javascript:void(0);">Joomla</a> 
									<a href="javascript:void(0);">Design</a> 
									<a href="javascript:void(0);">User interface</a> 
									<a href="javascript:void(0);">SEO</a> 
									<a href="javascript:void(0);">WordPress</a> 
									<a href="javascript:void(0);">Development</a> 
									<a href="javascript:void(0);">Joomla</a> 
								</div>
                            </div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
  {% endblock %}